@font-face {
	font-family: 'NATS';
	src: url('../fonts/NATS.eot');
	src: url('../fonts/NATS.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NATS.woff2') format('woff2'),
		url('../fonts/NATS.woff') format('woff'),
		url('../fonts/NATS.ttf')  format('truetype'),
		url('../fonts/NATS.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6,.name{font-family: 'Nanum Gothic', sans-serif;text-transform: uppercase;font-weight: bold;}
h2{
    font-size: 32px; 
}
h3{
    font-size: 18px;
}
input,textarea{
    font-family: 'NATS';
    line-height: 120%;
}
.services-slide h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 20px 0;
    line-height: 1.4em;
}
a{
    font-family: 'NATS';
    color: inherit;
    transition: 0.3s ease all;
}
a:hover{
    color:#278079;
}
body{
    color:#404040;
    text-align: center;
}
p{
    font-family: 'NATS';
    font-size: 18px;
    line-height: 120%;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 25px;
}
.slick-track{
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slick-slider{
    position: relative;
}
.slick-arrow{
    position: absolute;
    font-size: 0px;
    background: url(../img/arrow.svg) no-repeat center / contain;
    width: 25px;
    height: 36px;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slick-arrow.slick-prev{
    left: -100px;
    transform: rotate(180deg);
}
.slick-arrow.slick-next{
    right: -100px;
    transform:  translate(-50%, -50%);
}
.slick-arrow:hover{
    background: url(../img/arrow.svg) no-repeat center / contain;
    transition: all 0.5s ease;
    opacity: 0.5;
}
.slick-dots{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
.slick-dots li button{
    font-size: 0;
    width: 9px;
    height: 9px;
    margin: 0px 3px;
    border-radius: 50%;
    background: #FFFFFF;
}
.slick-dots li.slick-active button{
    background: none;
    border: 1px solid #FFFFFF;
}
.header{
    position: relative;
    z-index: 5;
    background:#fff;
    padding: 20px 0;
}
.header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo-img {
    width: 200px;
}
.leng a{
    margin: 10px;
    font-size: 20px;
    text-decoration: underline;
}
.leng a.active{
    color:#278079;
}
.services {
    padding: 20px 100px;
    background: rgba(39, 128, 121, 0.95) url(../img/vector-1.svg)no-repeat right bottom/ 50%;
}
.services-slider {
    display: flex;
    margin: 10px;
    width: 70%;
}
.services-slide {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px 20px 10px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px ;
}
.services-slide img{
    max-height: 70px;
    max-width: 100px;
}
.services-slider-two{
    margin-left: auto;
}
.due{
    text-align: left;
}
.due-list{
    width: 45%;
}
.due-item{ 
    position: relative;
    padding: 9px 5px 9px 55px;
    text-align: left;
    margin: 12px 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 50px 10px 10px 50px
}
.due-item span{
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 10px;
    font-family: 'NATS';
    color:#fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background:#278079;
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 2px solid #fff;
}
.due-sub-item{
    font-size: 18px;
    width: 95%;
    margin-left: auto;
}
.due{
    margin-top: 70px;
}
.due-wrapper{
    margin: 40px 0 ;
    display: flex;
    justify-content: space-between;
}
.contact {
    background: rgba(39, 128, 121, 0.95) url(../img/vector-2.svg)no-repeat left bottom/ 50%;
    margin-top: 70px;
    padding-bottom: 40px;
}
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px 60px ;
    position: relative;
}
.contact-wrapper::before{
    content: url(../img/cont-sec-img.svg);
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    max-width: 136px;
    max-height: 542px;
    object-fit:cover;
}
.contacts-inf ,
.contact-form {
    color: #fff;
    width: 50%;
}
.contacts-inf h2{
    margin-bottom: 27px;
}
.contacts-inf{
    text-align: start;
}
.contact-form form{
    display: flex;
    flex-direction: column;
}
.contact-inf-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.contacts-link{
    margin-bottom: 15px;
    display: block;
    padding: 9px 13px;
    font-size: 18px;
    font-family: 'NATS';
    line-height: 120%;
    background:#fff;
    color:#404040;
    width: 90%;
}
.contact-form button{
    display: block;
    margin-top: 27px;
    width: 180px;
    border:2px solid #fff;
    border-radius: 22px;
    font-family: 'NATS';
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 53px auto 0;
    color:#fff;
    background:none;
    line-height: 100%;
    transition: all 0.3s ease;
}
button:hover{
    background:#fff;
    color:#278079;
}
.contact-input {
    margin-top: 27px;
    display: block;
    padding: 9px 13px;
    font-size: 20px;
    font-family: 'NATS';
    line-height: 120%;
}
textarea.contact-input{
    resize: none;
    height: 124px;
    padding-right: 70px;
}
.footer {
    padding: 10px 0;
    color: #fff;
    background-color: #404040;
}
.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-wrapper p{
    margin: 10px 0 0 10px;
}
.head-section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: calc(95vh - 106px);
    background: 
    url(../img/bask-tree.svg)no-repeat left bottom /  100%, 
    url(../img/back-two.svg) no-repeat left bottom / 100%,
    url(../img/back-one.svg) no-repeat right bottom / 100%;
}
.head-section p{
    font-family: 'Nanum Gothic';
    font-size: 22px;
    font-weight: 800;
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 0.135em;
    line-height: 1.5em;
}
.color-one{
    color: #E13A3A;
}
.color-two{
    color:#278079;
}
.head-text{
    margin-bottom: -80px;
}
.head-block {
    position: absolute;
}
.head-block img{
    width: 100%;
    object-fit: contain;
}
.head-block-two,
.head-block-one{
    width: 100%;
    height: 100%;
    top: -200%;
    opacity: 0;
    transform: translate(0% ,-50%);
}
.head-block-one {
    max-width: 175px;
    max-height: 265px;   
    left: 6%;
}
.head-block-two{
    max-width: 250px;
    max-height: 210px;
    right: 5%;
}
.main-block {
    max-width: 1094px;
    max-height: 287px;
    width: 80%;
    height: 100%;
    left: 50%;
    top: 35%;
    transform: translate(-50% ,-50%);
}
.head-block-two.active,
.head-block-one.active{
    opacity: 1;
    top: 35%;
    transition: all ease-out 1.5s;
}
.head-text p{
    opacity: 0;
}
.head-text p.active{
    transition: all ease-out 2s;
    opacity: 1;
}
@media (max-width: 1200px) {
    .due-list{
        width: 50%;
        padding-left: 10px;
    }
    .head-block-one{
        max-width:125px;
    }
    .head-block-two{
        max-width: 170px;
    }
    .head-section p{
        font-size: 18px;
    }
    .head-block-two.active,.head-block-one.active,.head-block{
        top: 50%;
    }
    
}
@media (max-width: 1140px) {
    .due-wrapper{
        flex-direction: column;
    }
    .due-list{
        width: 100%;
    }
    .contact-wrapper::before{
        right: 10%;
    }
    .contact-wrapper{
        flex-direction: column-reverse;
        padding: 50px 0px 60px;
    }
    .contact-form{
        width: 60%;
        margin: 30px auto 80px;
    }
    .contacts-inf{
        margin: auto;
        width: 60%;
        justify-content: center;
    }
    .contacts-link{
        width: 100%;
    } 
}
@media (max-width: 1024px){
    .head-block-one{
        max-width:100px;
    }
    .head-block-two{
        max-width: 130px;
    }
    .head-section p{
        font-size: 18px;
    }
    .head-block-two.active,.head-block-one.active{
        top: 55%;
    }
    .head-text {
        margin-bottom: -30px;
    }
}
@media (max-width: 769px) {
    .services-slider{
        width: 90%;
    }
    .services {
        padding: 20px 20px;
    }
    .contact-form{
        width: 80%;
    }
    .contact-wrapper::before{
        right: 0;
    }
    .contacts-inf{
        width: 80%;
    }
    .container{
        padding: 0 5px;
    }

    .head-block-one{
        max-width:60px;
        max-height: 180px;
    }
    .head-block-two{
        max-width: 80px;
        max-height: 180px;
    }
    .head-section p{
        font-size: 16px;
    }
    .head-block-two.active,.head-block-one.active{
        top: 60%;
    }
    .main-block{
        top: 80%;
    }
    .head-text {
        left: 50%;
        top: -50%;
        width: 100%;
        transform: translate(-50%,-50%);
        position: absolute;
        margin-bottom: 0px;  
    }
}
@media (max-width:480px){
    .services-slider{
        width: 100%;
        margin: 0;
    }
    .services {
        padding: 20px 5px;
    }
    .contact-form {
        width: 95%;
    }
    .contact{
        overflow: hidden;
    }
    .contact-wrapper::before {
        display: none;
    }
    .services-slide {
        margin: 10px;
    }
    .contacts-inf{
        width: 95%;
    }
    .head-block{
        width: 90%;
    }
    .head-text{
        top: -60%;
    }
    .head-block-two.active,.head-block-one.active{
        top: 65%;
    }
    .main-block{
        top: 90%;
    }
}